body {
    margin: 2%;
    font-family: sans-serif;
    margin-right: 10%;
    background-image: url("../Bilder/StGeorgHeller.svg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* HEADER SIDE */
  div.top {
    display: flex;
  }
  #headers {
    width: 70%;
    margin: 0;
    font-size: 2vw;
  }
  #headers h2 {
    font-weight: normal;
  }
  h3{
    margin-top: 0.2%;
    margin-bottom: 0.7%;
  }
  #date {
    width: 100%;
    margin: 0;
    padding-top: 2.2%;
    font-size: 1.7vw;
    text-align: right;
    padding-right: 5%;
  }
  #date p {
    margin-bottom: 0;
  }
  #time {
    margin: 0;
    margin-top: 3.5%;
    padding-top: 2.2%;
    font-size: 1.7vw;
    padding-right: 5%;
  }
  
  /* BOTTOM TABLE */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9vw;
  }
  thead {
    text-align: left;
    font-weight: bold;
    border-width: 2px;
    border-color: #474747;
    border-style: solid;
    margin-bottom: 2%;
  }
  th {
    padding-bottom: 2%;
    padding-left: 1.3%;
    padding-top: 1%;
    background-color: rgba(244, 244, 244, 0.70);
    border-left: 1px solid #474747;
  }
  .spacing:before {
    content: "-";
    color: transparent;
  }
  .content{
    border-width: 2px;
    border-color: #474747;
    border-style: solid;
  }
  td {
    background-color: rgba(244, 244, 244, 0.70);
    padding-left: 1.3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-left: 1px solid #474747;
    border-bottom: 1px solid #474747;
  }

#Day{
    background-color: rgba(202, 233, 243, 0.623);
    padding-left: 1.3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-left: 1px solid #474747;
    border-bottom: 1px solid #474747; 
}

#Day td{
  border-left:none;
}