body {
  margin: 5%;
  font-family: sans-serif;
  margin-right: 10%;
}

/* HEADER SIDE */
div.top {
  display: flex;
  margin-bottom: 5%;
}
#headers {
  width: 70%;
  margin: 0;
  font-size: 2vw;
}
#headers h2 {
  font-weight: normal;
}
#date {
  margin: 0;
  padding-top: 2.2%;
  font-size: 1.7vw;
  font-weight: bold
  text-align: right;
  padding-right: 5%;
}
#date p {
  margin-bottom: 0;
}
#time p{
  margin: 0;
  margin-top = 3.5%;
  padding-top: 2.2%;
  font-size: 1.7vw;
  font-weight: bold
  text-align: right;
  padding-right: 5%;
}

/* BOTTOM TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.4vw;
}
thead {
  text-align: left;
  font-weight: bold;
  border-width: 2px;
  border-color: #474747;
  border-style: solid;
  margin-bottom: 2%;
}
th {
  padding-bottom: 2%;
  padding-left: 1.3%;
  padding-top: 1%;
  background-color: rgba(122, 122, 122, 0.7);
  border-left: 1px solid #474747;
}
.spacing:before {
  content: "-";
  color: transparent;
}
.content{
  border-width: 2px;
  border-color: #474747;
  border-style: solid;
}
td {
  background-color: rgba(122, 122, 122, 0.7);
  padding-left: 1.3%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-left: 1px solid #474747;
  border-bottom: 1px solid #474747;
}
